body {
  font-family: 'Varela Round', sans-serif;
  color: #4756ca;
}

h1 {
  text-align: center;
  margin: 20px;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
}
h3 {
  text-align: center;
  opacity: 75%;
  font-size: 20px;
  margin-bottom: 20px;
}

footer {
  padding:0px;
  font-size: 10px;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.search-form {
  text-align: center;
  max-width: fit-content;
  
}
.date{
  font-size: 25px;
margin-bottom: 0;
margin-top: 0;
}

.icon{
  display: block;
margin: 0 auto;
text-align: center;
}

.temperature {
  font-weight: bold;
  margin-bottom: 0;
}
.temperatureMin {
  opacity: 80%;
  margin-bottom: 0;
}

.description {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

.units .active {
  color: #4756ca;
 cursor: default; 
 text-decoration: none;
}

.units .active :hover {
  text-decoration: none;
}

.forecastOne {
  text-align: center;
list-style: none;
}

.firstIcon { 
  display: block;
  margin: 0 auto;
 min-width: 30px;
}
.sun {
  color: rgb(203, 203, 86);
  text-align: center;
  font-size: 60px;
  margin-bottom: 15px;
}

.suncloud {
  color: rgb(196, 196, 97);
  font-size: 30px;
}

.sunrain {
  color: rgb(64, 131, 224);
  font-size: 30px;
}

.rain {
  color: rgb(69, 69, 219);
  font-size: 30px;
}

.storm {
  color: gray;
  font-size: 30px;
}

footer {
  padding:0px;
  font-size: 15px;
}

