body {
  font-family: 'Varela Round', sans-serif;
  color: #4756ca;
}

h1 {
  text-align: center;
  margin: 20px;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
}
h3 {
  text-align: center;
  opacity: 75%;
  font-size: 20px;
  margin-bottom: 20px;
}

 



.weather-app {
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.search-form {
  
  max-width: fit-content;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.date{
  font-size: 25px;
margin-bottom: 0;
margin-top: 0;
}

.icon{
  display: block;
margin: 0 auto;
text-align: center;
}

.temperature {
  font-weight: bold;
  margin-bottom: 0;
}
.temperatureMin {
  opacity: 80%;
  margin-bottom: 0;
}

.description {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}


.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-date {
  font-weight:600;
}
.weather-forecast-temperature-max{
  font-weight: bold;
}
.weather-forecast-temperature-min { opacity: 70%;}

.signature {
  padding:0px;
  font-size: 15px;
  text-align: center;
  
}

